# Donn‚es brutes et volumineuses
data/raw/
data/processed/
data/extracted/
*.npy
*.h5
*.pkl
*.pt
*.pth
# Images du dataset
data/images/
# Environnement Python
__pycache__/
*.py[cod]
.env
# Jupyter checkpoints
.ipynb_checkpoints/
# Logs et artefacts temporaires
*.log
mlruns/
# OS
.DS_Store
Thumbs.db
